nav
    background-color: #E35F20
    ul
        padding: 0
        margin: 0
        text-align: center
        display: grid
        grid-template-columns: repeat(4, 1fr)
        li
            list-style: none
            padding: 1rem 0
            transition: all .5s ease
            a
                text-decoration: none
                color: #ffffff
        li:hover
            background-color: #000000
             
            